html{
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	min-height: 100%;
	background-color: #000!important;
}

.row {
	margin: 0px!important;
}

.dbcontainer{
	width:100%;
}

.comingSoonDiv {
	margin-top:15%;
}

.gifbg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 720px;
}

.footer {
	height: 100px;
	position: fixed;
	bottom: 0px;
    margin-bottom: 0px;
    display: block;
    z-index: 2000;
    width: 100%;
}