html{
	height: 100%;
}

body {
	width: 100%;
	min-height: 100%;
	background-color: #000!important;
}

.comingSoonDiv {
	margin-top:15%;
}

.gifbg {
	background-image:url('../../assets/img/rallycar.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}